body {
	margin: 0px auto;
	padding: 0;
	background: rgba(113,234,72,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(113,234,72,1) 27%, rgba(113,234,72,1) 39%, rgba(71,229,31,1) 81%, rgba(71,229,31,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%, rgba(113,234,72,1)), color-stop(39%, rgba(113,234,72,1)), color-stop(81%, rgba(71,229,31,1)), color-stop(100%, rgba(71,229,31,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(113,234,72,1) 27%, rgba(113,234,72,1) 39%, rgba(71,229,31,1) 81%, rgba(71,229,31,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(113,234,72,1) 27%, rgba(113,234,72,1) 39%, rgba(71,229,31,1) 81%, rgba(71,229,31,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(113,234,72,1) 27%, rgba(113,234,72,1) 39%, rgba(71,229,31,1) 81%, rgba(71,229,31,1) 100%);
	background: radial-gradient(ellipse at center, rgba(113,234,72,1) 27%, rgba(113,234,72,1) 39%, rgba(71,229,31,1) 81%, rgba(71,229,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71ea48', endColorstr='#47e51f', GradientType=1 );
	}
	
.header {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 150px;
}

.logo {
	min-height: 150px;
}	

.navbar {
	background-color: lightgray;
	margin: 0;
	padding: 0;
	min-height: 45px;
}

.searchbar {
	float: right;
	margin-right: 1%;
	margin-top: 10px;
}

#searchbox {
	outline: 1px solid;
	border: 0 px;

}

#searchbtn {
	outline: 1px black solid;
	border: 0px;
	background-image:url(img/slg.png);
	background-size: 100% 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #1ef207;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.MainContent {
	width: 700px;
	height: 600px;
	background-color: white;
	margin-left: 20px;
	margin-top: 60px;
	padding: 0;
}